@page
@model CallCenter.Back.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>&nbsp;&nbsp;&nbsp;<a asp-page-handler="AddTestRecords">Add test Records</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].Patronymic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persons[0].PhoneNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Persons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @switch (item.Gender)
                 {
                    case CallCenter.Back.Data.Gender.All:
                    <b>Не указано</b>
                    break;
                    case CallCenter.Back.Data.Gender.Female:
                    <b>(Ж)</b>
                    break;
                    case CallCenter.Back.Data.Gender.Male:
                    <b>(М)</b>
                    break;
                }
            </td>
    
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
    
                <td>
    
                    <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a> |
    
                    <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
    
                    <a asp-page="./Delete" asp-route-id="@item.PersonId">Delete</a>
    
                </td>
    
            </tr>
}
    </tbody>
</table>
